@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Welcome to the first demo project</p>
    <a class="btn" asp-controller="Home" asp-action="ShowData" class="btn btn-primary">See Details</a>
    <a class="btn" asp-controller="Home" asp-action="AddDataPage" class="btn btn-primary">Add Data</a>
</div>
    