@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Welcome to the first demo project</p>
    <a class="btn" asp-controller="Home" asp-action="ShowData" class="btn btn-primary">See Details</a>
    <a class="btn" asp-controller="Home" asp-action="AddDataPage" class="btn btn-primary">Add Data</a> <br />
    <a class="btn" asp-controller="Home" asp-action="GetAllDataTypesView" class="btn btn-primary">Get All Data Types</a>
    <a class="btn" asp-controller="Home" asp-action="ShowAllDataTypes" class="btn btn-primary">Show All Data Types</a> <br />
    <a class="btn" asp-controller="Person" asp-action="PersonView" class="btn btn-primary">Person Page</a>
</div>
    