@{
    ViewData["Title"] = "Person Page";
}

<div class="text-center">
    <p>Welcome to Person's Page'</p>
    <a class="btn" asp-controller="Person" asp-action="PersonGetDataPage" class="btn btn-primary">Get Data</a>
    <a class="btn" asp-controller="Person" asp-action="PersonShowData" class="btn btn-primary">Show Data</a> <br />
</div>